@import 'variables';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');
@import '_navbar';

body {
  background-color: $favColor;
  font-family: 'Roboto';
}

.Auth {
  margin: 0 auto;
  margin-top: 200px;
  text-align: center;
  background-color: white;
  padding: 100px 50px;
  width: 400px;
}
